body {
  background-color: #2d2d2d;
  overflow-y: hidden;
}

.main {
  height: 100vh;
  width: 100%;
}

.flex_container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  height: inherit;
  align-items: center;
}

.content_container {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
}

a {
  color: white;
}

.heading {
  text-align: center;
}

/* breakpoints */
@media all and (max-width: 1690px) {
  .content_container {
    width: 35%;
    height: 200px;
  }
}
@media all and (max-width: 1280px) {
  .content_container {
    width: 50%;
    height: 300px;
  }
}
@media all and (max-width: 980px) {
  .content_container {
    width: 60%;
    height: 300px;
  }
}
@media all and (max-width: 736px) {
  .content_container {
    width: 80%;
    height: 325px;
  }
}
@media all and (max-width: 480px) {
  .content_container {
    width: 85%;
    height: 325px;
  }
}
