.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;

  max-width: 1080px;
  width: 100%;
}

.footer-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-flow: wrap;
  justify-content: space-between;
}

.footer-description, .footer-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap;
  width: 45%;
  text-align: left;
}

.footer-description {
  padding-left: 10px;
  flex-direction: column;
}

.footer-links {
  flex-direction: row;
  justify-content: flex-end;
}

/* Breakpoints */

@media all and (max-width: 1690px) {
  .footer-container {
    /* width: 85%; */
  }

  .footer-links {
    align-content: center;
  }
}
@media all and (max-width: 1280px) {
  .footer-container {
    /* width: 90%; */
  }
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 736px) {
  .footer-links {
    align-content: flex-start;
  }

  .footer {
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
}
@media all and (max-width: 480px) {
  .footer-container {
    /* width: 100%; */
  }

  .footer-description-container, .links-container {
    width: 90%;
    /* padding-left: 20px; */
  }

  .footer-description, .footer-links {
    width: 90%;
    padding-left: 20px;
  }
}
