.footer-description-container {
  width: 60%;
}

h1, p, h3 {
  margin-top: 0px;
}

/* Breakpoints */

@media all and (max-width: 1690px) {
}
@media all and (max-width: 1280px) {
}
@media all and (max-width: 980px) {
  .footer-description-container {
    width: 80%;
  }
}
@media all and (max-width: 736px) {
  .footer-description-container {
    width: 85%;
  }
}
@media all and (max-width: 480px) {
}
