.links-container {
  width: 30%;
}

.link {
  margin: 0 10px 30px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
}

a {
  font-weight: 800;
}

/* Arrow */

.link:hover > .arrow {
  animation: slide 1s ease-in-out infinite;
}

.arrow {
  /* margin-left: 9px; */
  margin-right: 10px;
  /* float: right; */
}

@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(15px, 0);
  }
}

/* Breakpoints */
@media all and (max-width: 1690px) {
}
@media all and (max-width: 1280px) {
  .links-container {
    width: 40%;
  }
}
@media all and (max-width: 980px) {
  .links-container {
    width: 50%;
  }
}

@media all and (max-width: 736px) {
  .links-container {
    flex-direction: row;
    width: 100%;
  }
  .link {
    margin: 0 0 20px 0;
    width: 80%;
  }
}

@media all and (max-width: 480px) {
  .link {
    margin: 0 0 10px 0;
    width: 90%;
  }
}
