.project-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15vh;
  flex-wrap: wrap;
  /* width: inherit; */
  /* max-width: 1200px; */
  /* max-width: 1200px; */
  /* height: inherit; */
  /* align-items: center; */

  /* width: 90%; */
}

.project-description-container {
  /* width: 300px; */
  width: 30%;
  text-align: left;
}

.project-images-container {
  /* height: 450px; */
  /* height: 60%; */
  /* height: 100%; */
}

@media all and (max-width: 1690px) {
  .project-container {
    width: 85%;
  }
}

@media all and (max-width: 1280px) {
  .project-container {
    width: 90%;
  }
}

@media all and (max-width: 980px) {

}

@media all and (max-width: 736px) {
  .project-description-container {
    width: 95%;
  }
}

@media all and (max-width: 480px) {
  .project-container {
    width: 100%;
  }

  .project-description-container {
    width: 100%;
  }
}
