.project-description {
  width: 80%;
  padding-left: 30px;
}

.project-description-title {}

.project-description-text {}

.project-description-button {
  margin-top: 2vh;
  /* text-align: center; */
}

/* Breakpoints */
@media all and (max-width: 1690px) {
}
@media all and (max-width: 1280px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 736px) {
  .project-description {
    width: 90%;
    padding-left: 10px;
  }
}
@media all and (max-width: 480px) {
  .project-description {
    width: 95%;
    padding-left: 10px;
  }
}
