.project-button {
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
}

.project-button:hover {
  /* background-color: #4CAF50; */
  /* background-color: #00701a; */
  border: 3px solid #white;

  background-color: #212121;
  color: white;
}

.modal-button {
  /* height: 30px; */
  height: 100%;
  font-size: 16px;
  font-weight: 500;

  background-color: #2d2d2d;
  color: white;
}

.modal-button:hover {
  /* background-color: #4CAF50; */
  /* background-color: #00701a; */
  /* border: 3px solid #white; */

  /* background-color: #212121; */

  background-color: white;
  color: black;
}
