.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container {
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 25vh;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

.modal-heading {
  color: #000000;
  text-align: left;
  margin-top: 0px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-icon {
  float: right;
}

.text-bar-container {
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  /* margin-bottom: 10px; */
  border: 2px solid #a4a4a4;
}

.text-bar-input {
  height: 30px;
  width: 70%;
  flex-grow:2;
  /* background-color: #292c2f; */
  font-size: 16px;
  padding: 0 10px;
}

.text-bar-input:focus {
  border-color: #000000;
}

/* Breakpoints */
@media all and (min-width: 1691px) {
  .modal-container {
    width: 20%;
  }
}

@media all and (max-width: 1690px) {
  .modal-container {
    width: 30%;
  }
}
@media all and (max-width: 1280px) {
}

@media all and (max-width: 980px) {
  .modal-container {
    width: 60%;
  }
}

@media all and (max-width: 736px) {
  .modal-container {
    width: 75%;
  }
}

@media all and (max-width: 480px) {
  .modal-container {
    width: 90%;
  }
}
